body{
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  text-align: center;
}

h1 {
  margin-top: 50px;
 font-size: 2rem;
 text-transform: uppercase;
 letter-spacing: 3px;
 text-shadow: 2px 2px 0px #000;
}


#board {
  width: 606px;
  height: 606px;

  margin: 20px auto;
  background-color: #000;
  border: 3px solid red;
}

button {
  width: 200px;
  height: 200px;
  background-color: #444;
  color: white;
  font-size: 5rem;
  float: left;
  padding: 0;
  margin: 1px;;
}